/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
.header-top-padding {
    padding: 0 128px;
}
.logo-bg-shape img {
    width: 80%;
}
.main-menu nav ul li a {
    margin: 0 15px;
}
.promo-shape img {
    width: 60%;
}
.video-thumb {
    margin-left: -10%;
}
.video-thumb img {
    width: 100%;
}
.hero-fact {
    right: -23%;
    top: 83%;
}


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.hero-area {
    padding-top: 30px;
}
.header-top-padding {
    padding: 0 50px;
}
.header-btn {
    display: none;
}
.logo-bg-shape img {
    width: 63%;
}
.feature-bg {
    padding-top: 70px;
    padding-bottom: 68px;
}
.promo-thumb img {
    width: 100%;
}
.promo-shape img {
    width: 51%;
}
.single-pricing.active {
    min-width: 271px;
}
.video-thumb img {
    width: 100%;
}
.video-thumb {
    margin-left: -15%;
}
.single-blog {
    width: 55%;
}
.screen-mockup img {
    width: 100%;
}
.hero-fact {
    display: none;
}
.h3-intro-banner {
    margin-left: -11px;
}
.h2-hero-bg {
    padding-top: 180px;
}
.h3-service-content h3 {
    font-size: 21px;
}
.follow-me-portfolio {
    padding-left: 17%;
}
.port-details-box {
    padding: 40px;
}
.portfolio-info ul li {
    width: 49%;
}







}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.header-btn {
    display: none;
}
.header-top-padding {
    padding: 40px 50px;
}
.header-top-padding.header-sticky.sticky-menu {
    padding: 20px 50px;
}
.header-top-padding.header-sticky.sticky-menu .mean-container a.meanmenu-reveal {
    margin-top: -34px;
}
.feature-bg {
    background: #213782;
}
.screen-mockup {
    text-align: center !important;
}
.promo-shape {
    display: none;
}
.portfolio-btn {
    display: none;
}
.video-thumb img {
    width: 100%;
}
.video-thumb {
    margin-left: 0;
}
.video-shape img {
    display: none;
}
.h2-top-padding {
    padding: 25px 0;
    padding-bottom: 20px;
}
.feature-banner {
    text-align: center;
}
.single-screenshot img {
    width: 100%;
}
.sccrenshots-up img {
    width: 100%;
    z-index: -9;
}
.h3-features-promotion {
    display: none;
}
.hero-fact {
    display: none;
}
.h3-hero-bg {
    padding-top: 190px;
}
.portfolio-details-thumb img {
    width: 100%;
}

}


/* small mobile :320px. */
@media (max-width: 767px) {
.header-btn {
    display: none;
}
.header-top-padding {
    padding: 20px 0;
    padding-bottom: 10px;
}
.logo-bg-shape img {
    width: 100%;
}
.hero-caption {
    text-align: center;
}
.hero-sponsors {
    text-align: center;
}
.hero-sponsors a img {
    margin-right: 0;
    margin: 0 37.5px;
    margin-bottom: 30px;
}
.intro-banner img {
    width: 100%;
}
.feature-bg {
    background: #213782;
}
.feature-bg {
    background: #213782;
    padding-top: 120px;
    padding-bottom: 110px;
}
.intro-banner {
    margin-bottom: 50px;
}
.screen-mockup img {
    width: 100%;
}
.about-inner-box {
    padding: 0 15px;
}
.app-download-btn {
    text-align: center;
}
.promo-shape img {
    display: none;
}
.promo-thumb img {
    width: 100%;
}
.portfolio-btn {
    display: none;
}
#portfolio-tabs-area .nav-item a {
    margin-right: 5px;
}
.pl-btn.picker-button {
    padding: 15px 25px;
}
.single-pricing.active {
    min-width: 100%;
}
.single-pricing:first-child {
    margin-right: 0;
}
.single-pricing:nth-last-child(1) {
    margin-left: 0;
}
.single-pricing {
    min-width: 100%;
}
.video-thumb {
    margin-left: 0;
}
.video-thumb img {
    width: 100%;
}
.video-shape img {
    display: none;
}
.video-content .nav-item a {
    padding: 12px 25px;
}
.single-blog {
    width: 100%;
}
#single-blog-2 {
    transform: scale(1);
    margin-left: 0;
}
.header-area {
    background: #213782;
}
.h2-top-padding {
    padding: 25px 0;
    padding-bottom: 20px;
}
.feature-banner img {
    width: 100%;
}
.sccrenshots-up img {
    width: 100%;
    top: 38%;
}
.single-screenshot img {
    width: 100%;
}
.hero-fact {
    display: none;
}
.btn-icon-border {
    padding: 25px 14px;
}
.h2-hero-bg {
    padding-top: 180px;
}
.about-inner-box-3 {
    padding-left: 15px;
}
.h3-about-features ul li i {
    display: block;
    margin-bottom: 5px;
}
.h3-features-promotion {
    display: none;
}
.h3-video-area {
    padding-top: 246px;
    padding-bottom: 229px;
}
#home3.header-area {
    background: #1a2021;
}
.h3-hero-caption h1 {
    font-size: 43px;
}

.portfolio-details-thumb img {
    width: 100%;
}
.follow-me-portfolio {
    padding: 30px;
    padding-left: 0;
    background: transparent;
}
.follow-me-portfolio span {
    float: none;
    margin-bottom: 16px;
    display: inline-block;
}
.follow-me-portfolio ul {
    overflow: hidden;
    padding-left: 0;
}
.port-details-box {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}
.portfolio-info ul li {
    width: 100%;
}

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}

}
